.grid-item {
  position: relative;
  cursor: pointer;
  &:hover{
    z-index: 999;
    transform: scale(1.2);
    transition: transform ease-in-out .2s;
  }
  &:not(:hover) {
    transform: scale(1);
    transition: transform ease-in-out .2s;
  }
}

.col-12{
  margin: 4rem 0;
}

.rectangle {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 1rem;
  right: 1rem;
  width: 10rem;
  height: 3rem;
  background-color: #00000053;
  .price{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    }
}
  
