.container-admin {
    display: flex;
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .sidebar {
    width: 20%;
    background-color: var(#636f83,#212333);
    background-image: linear-gradient(45deg,var(--cui-dark-start,#3c4b64) 0%,var(--cui-dark-stop,#212333 100%));


  }
  
  .main {
    flex: 1;
    background-color: #f9f9f9;
  }
  
  .content {
    margin-top: 20px;
  }
  


  