<div class="myContainer">
        <figure style="--c:#fff5" routerLink="/products/list/man">
            <img src="../../../assets/images/[removal.ai]_tmp-64699898abd3d.png" alt="Mountains">
            <figcaption>Man</figcaption>
        </figure>
        <figure style="--c:#fff5" routerLink="/products/list/kid">
            <img src="../../../assets/images/kids-3384843_1280.jpg" alt="Mountains">
            <figcaption>Kids</figcaption>
        </figure>
        <figure style="--c:#fff5" routerLink="/products/list/woman">
                <img src="../../../assets/images/[removal.ai]_tmp-6469982076634.png" alt="Mountains">
                <figcaption>Woman</figcaption>
        </figure>
</div>