<div>
	<h5 class="mb-3 font-medium" id="orders">Orders</h5>
	<div class="table-inside mb-5">
		<table class="order-table table-auto ltMd:responsive mb-5">
			<thead>
				<tr class="border text-left">
					<th>
						<span class="text-gray-800">Id</span>
					</th>
					<th>
						<span class="text-gray-800">Name</span>
					</th>
					<th>
						<span class="text-gray-800">Price</span>
					</th>
	
					<th>
						<span class="text-gray-800">Created</span>
					</th>
	
					<th>
						<span class="text-gray-800">Status</span>
					</th>
					<th class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of orders; let i =index" class="border">
					<td>
						<a class="text-primary" href="/">#{{order?._id.substring(0,8)}}</a>
					</td>
					<td>
						{{order?.shippingInfo | titlecase }}
					</td>
					<td>
						<span>{{order?.totalAmount}} TND</span>
					</td>
					<td>
						<span>{{order?.createdAt | date}}</span>
					</td>
					<td>
						<div [ngClass]="{
							'bg-blue-500 text-blue-500': order?.status === 'DELIVERED',
							'bg-red-500 text-red-500': order?.status === 'CANCELED',
							'bg-yellow-500 text-yellow-900': order?.status === 'PENDING',
							'bg-primary text-primary': order?.status === 'initialized'
							}" 
							class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
						>
							{{ order?.status | titlecase }}
						</div>
					</td>
					<td class="text-right">
						<button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before" >
							<button mat-menu-item  (click)="getDetailOrder(order,i)">
								<mat-icon>dialpad</mat-icon>
								<span><a >Details</a></span>
							</button>
							<button mat-menu-item (click)="deleteOrder(order._id)">
								<mat-icon>delete</mat-icon>
								<span>Delete</span>
							</button>
						</mat-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mt-5" id="detail-section" #detailSection>
	<div *ngIf="order != null" class="det" >
		<div class="d-flex justify-content-between align-items-center mt-4 ">

			<h3 class="text-center"> Order Details </h3> <button  class="btn btn-sm btn-outline-danger customButton mb-3" (click)="closeDetail()" >X</button>
		</div>
	<div class="flex flex-wrap p-4 border">
        <div class="w-full sm:w-1/2">
            <div class="ll-dataset">
                <div class="ll-dataset__label">
                    Id:
                </div>
                <div class="ll-dataset__value text-primary">
                   #{{order?._id}}
                </div>
            </div>
            <div class="ll-dataset mt-4">
                <div class="ll-dataset__label">
                    Amount:
                </div>
                <div class="ll-dataset__value">
                   {{order?.totalAmount}} TND
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 mt-4 sm:mt-0">
            <div class="ll-dataset">
                <div class="ll-dataset__label">
                    Status:
                </div>
                <div [ngClass]="{
                    'bg-blue-500 text-blue-500': order?.status === 'DELIVERED',
                    'bg-red-500 text-red-500': order?.status === 'CANCELED',
                    'bg-yellow-500 text-yellow-900': order?.status === 'PENDING',
                    'bg-primary text-primary': order?.status === 'initialized'
                    }" 
                    class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
                >
                    {{order?.status}}
                  </div>
                 
            </div>
         
        </div>
    </div>
    <hr class="w-80 m-auto mt-4 mb-4">
    <div class="filter  flex-column items-center mb-5">
    
      
		<h5>Products</h5>
      <div  class="table-inside w-100">
        <div class="flex flex-col border ">
          <div class="flex items-center p-4 border-b hover:bg-blue-100">
            <div class="w-6/12 font-medium text-center"><div class="pl-16 ml-3">Product</div></div>
            <div class="w-2/12 font-medium text-center">Category</div>
            <div class="w-2/12 font-medium text-center">Price</div>
            <div class="w-2/12 font-medium text-center">Quantity</div>
          </div>
          <div class="flex items-center p-4 border-b hover:bg-blue-100" *ngFor="let product of order?.products | slice: 0:9">
            <div class="w-6/12">
              <a href="" class="flex hover:text-primary">
                <div class="max-h-16 w-16 flex-none mr-3 border" *ngIf="product?.product?.image">
					
                  <img [src]="'http://localhost:8000/image/'+product?.product?.image[0]" alt="img">
                </div>
                <h6 class="flex-auto text-center">{{ product?.product?.name }}</h6>
              </a>
            </div>
            <div class="w-2/12 text-center">{{product?.product?.category}}</div>
            <div class="w-2/12 text-center">{{product?.product?.price}} TND</div>
            <div class="w-2/12 text-center">
              
                {{product?.quantity}}
              
            </div>
        </div>
        
          </div>
        </div>
      </div>
</div>
