<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 md:col-span-7 xl:col-span-8 border p-5">
        <a href="javascript:void(0)" class="category text-primary inline-block mb-5">{{ product?.category }} SECTION</a>
        <h1 class="_title font-medium">{{ product?.name }}</h1>
        <ul class="product-meta flex flex-wrap items-center mt-8 mb-8">
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2" color="warn">start</mat-icon> 4.5/5 (14 Feedback)</a
            >
          </li>
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2">favorite</mat-icon> Save</a
            >
          </li>

          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2">share</mat-icon> Share</a
            >
          </li>
        </ul>
        <app-carousel [imageUrls]="product.image"></app-carousel>
        <div class="accordion mt-5" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>Description</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{ product.description }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Reviews</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Product details component line 53. You can insert your reviews here.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 xl:col-span-4">
        <div class="border">
          <div class="border-b text-center pt-10 pb-10">
            <div class="text-accent text-4xl font-semibold">{{ product.price }} TND</div>
            <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider">Price</div>
          </div>
          <div class="border">
            <div class="border-b text-center pt-10 pb-10" *ngIf="product.quantity >0">
              <div class="text-secondary text-4xl font-semibold">{{product.quantity}}</div>
              <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider">Items left</div>
            </div>
            <div class="border-b text-center pt-10 pb-10" *ngIf="product.quantity == 0">
              <div class="alert alert-danger">Out of stock</div>
            </div>
          <div class="border-b p-5">
            <ul class="service-info">
              <li class="py-2 mr-2" *ngFor="let size of product.size">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-8 h-8 text-center leading-7 mr-4">check</mat-icon>
                  <strong class="mr-4 font-black">{{ size }}</strong> 
                </div>
              </li>
            </ul>
            <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider" style="text-align: center;">Sizes</div>
          </div>
          <div class="border-b p-5">
            <ul class="service-info">
              <li class="py-2 mr-2" *ngFor="let color of product.color">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-8 h-8 text-center leading-7 mr-4">check</mat-icon>
                  <strong class="mr-4 font-black">{{ color }}</strong> 
                </div>
              </li>
            </ul>
            <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider" style="text-align: center;">Colors</div>
          </div>
          <div class="border-b p-5">
            <h5>Addons Services</h5>
            <div class="flex mt-2">
              <div class="sm:pt-1 mr-3 sm:mr-6 md:mr-8">
                <input type="checkbox" class="appearance-none border border-gray-300 checked:bg-gray-400 checked:border-transparent ..." />
              </div>
              <div class="flex-grow">
                <div class="price sm:float-right font-bold">€200.00</div>
                <h6 class="text-gray-800">Execution after work</h6>
                <p class="mt-2">
                  Thanks to our home office approach, we can serve you during the entire microservice even after work, if that suits you
                  better. The following times are possible after close of business: sun - thu, 9 p.m. - 7 p.m.
                </p>
              </div>
            </div>
            <div class="flex mt-4">
              <div class="sm:pt-1 mr-3 sm:mr-6 md:mr-8">
                <input type="checkbox" class="appearance-none border border-gray-300 checked:bg-gray-400 checked:border-transparent ..." />
              </div>
              <div class="flex-grow">
                <div class="price sm:float-right font-bold">€200.00</div>
                <h6 class="text-gray-800">Execution after work</h6>
                <p class="mt-2">
                  Thanks to our home office approach, we can serve you during the entire microservice even after work, if that suits you
                  better. The following times are possible after close of business: sun - thu, 9 p.m. - 7 p.m.
                </p>
              </div>
            </div>
          </div>
          <div class="border-b px-5 pt-10 pb-12 text-center">
            <p class="text-gray-400 mb-4">This price can increase due to additional bookings</p>
            <button mat-flat-button class="py-3 px-20 text-xl font-bold" color="accent" [disabled]="product.quantity == 0">Add to cart <i class="fa-solid fa-cart-shopping"></i></button>
          </div>
        </div>
        <div class="border mt-5 px-5 py-10 text-center">
          <p class="font-bold mb-3">Do you have any special requirements?</p>
          <button mat-stroked-button class="py-2 px-12 text-lg font-bold text-gray-700">Send us</button>
        </div>
      </div>
    </div>
  </div>
</div>
