<div class="d-flex justify-content-between">
    <h1 mat-dialog-title>{{ data.title }}</h1>
<button class="btn btn-outline-danger" id="closeButton" (click)="onClose()">
    <i class="fa-solid fa-x"></i>
  </button>
</div>
<div mat-dialog-content>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let item of data.cart.products">
          <div class="card">
            <img [src]="'http://localhost:8000/image/'+item.product.image[0]" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.product.name }}</h5>
              <p class="card-text">Price : {{ item.product.price }} TND.</p>
              <p class="card-text">Quantity : {{ item.quantity }}.</p>
              <p class="card-text">Total : {{ item.product.price * item.quantity | number:'.3' }} TND.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<div mat-dialog-actions class="card-footer justify-content-around">
    <p class="card-text"><strong>Total to pay : {{ data.cart.total | number:'.3'}} TND</strong></p>
    <div class="btn-group">
        <button  class="btn btn-outline-danger" (click)="clearCart()">Clear my cart</button>
        <button  class="btn btn-outline-info" (click)="passerCommande()">Confirm</button>
    </div>
</div>