<div class="grid grid-cols-12 gap-4 lg:gap-8">
    <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
      <mat-icon class="text-accent mb-5">favorite_border</mat-icon>
      <h6>Favorites</h6>
      <div class="count mb-3 mt-5">{{favouriteProductsNumber > 0 ? favouriteProductsNumber : 0}}</div>
      <a [routerLink]="'/espace/saved-items'" class="font-semibold" mat-flat-button color="warn">View All</a>
    </div>
    <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
      <mat-icon class="text-accent mb-5">sync</mat-icon>
      <h6>Number of ongoing orders</h6>
      <div class="count mb-3 mt-5">{{ongoingOrders > 0 ? ongoingOrders :0}}</div>
      <a [routerLink]="'/espace/orders'" class="font-semibold" mat-flat-button color="warn">View All</a>
    </div>
    <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
      <mat-icon class="text-accent mb-5">task_alt</mat-icon>
      <h6>Completed orders</h6>
      <div class="count mb-3 mt-5">{{CompletedOrders > 0 ? CompletedOrders : 0}}</div>
      <a [routerLink]="'/espace/orders'" class="font-semibold" mat-flat-button color="warn">View All</a>
    </div>
  </div>
  <div class="mt-8">
    <h5 class="mb-1 font-normal">Latest Orders</h5>
      <div class="table-inside">
          <table class="order-table table-auto ltMd:responsive">
              <thead>
                  <tr class="border text-left">
                      <th>
                          <span class="text-gray-800">Id</span>
                      </th>
                      <th>
                          <span class="text-gray-800">Name</span>
                      </th>
                      <th>
                          <span class="text-gray-800">Price</span>
                      </th>
      
                      <th>
                          <span class="text-gray-800">Created</span>
                      </th>
      
                      <th>
                          <span class="text-gray-800">Status</span>
                      </th>
                    
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let order of orders" class="border">
                      <td>
                          <a class="text-primary" href="/">#{{order?._id.substring(0,8)}}</a>
                      </td>
                      <td>
                          {{order?.shippingInfo | titlecase }}
                      </td>
                      <td>
                          <span>{{order?.totalAmount | number:'1.2-2'}} TND</span>
                      </td>
                      <td>
                          <span>{{order?.date | date}}</span>
                      </td>
                      <td>
                          <div [ngClass]="{
                              'bg-blue-500 text-blue-500': order?.status === 'DELIVERED',
                              'bg-red-500 text-red-500': order?.status === 'CANCELED',
                              'bg-yellow-500 text-yellow-900': order?.status === 'PENDING',
                              'bg-primary text-primary': order?.status === 'initialized'
                              }" 
                              class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
                          >
                              {{ order?.status | titlecase }}
                          </div>
                      </td>
                 
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  