.cart-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 30rem;
    max-height: 40rem;
    overflow-y: auto;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .cart-item-price {
    margin: 0;
    font-size: 14px;
  }
  
  .cart-item-remove {
    margin-top: 5px;
   
  }

  .card-body{
    padding-top:3.12rem ;
  }

  .remove-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
  }
  
  .remove-buttons button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25rem;
  }

  .btn{
    border-radius: 0;
  }

  .btn-group{
    width: 100%;
  }