.ll_header {
  padding: 15px 0;
  @apply bg-gray-50;
  &.top-fixed {
    @apply fixed -inset-x-0 top-0;
    padding: 15px 0;
    z-index: 9999;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
  }
}
.logo {
  max-width: 120px;
}
._sidenav__toggler {
  $iconSize: 30px;
  $buttonSize: 42px;
  height: $buttonSize;
  width: $buttonSize;
  .mat-icon {
    font-size: $iconSize;
    height: $iconSize;
    width: $iconSize;
    line-height: $iconSize;
  }
}

@media (min-width: 768px) {
  .logo {
    max-width: 145px;
  }
  ._sidenav__toggler {
    $iconSize: 38px;
    $buttonSize: 52px;
    height: $buttonSize;
    width: $buttonSize;
    .mat-icon {
      font-size: $iconSize;
      height: $iconSize;
      width: $iconSize;
      line-height: $iconSize;
    }
  }
}

.item-count {
  position: absolute;
  top: -5px;
  right: 2px;
  background-color: white;
  color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}