<div class="d-flex justify-content-start">
	<h2 color="primary"  style="margin-right: 3rem;">
	  Orders
	</h2>
  </div>
  <div class="custom-search-input">
	<input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search by Customer or Amount">
  </div>
  <div class="table-inside">
	<div class="container" id="list">
	  <table mat-table class="mat-elevation-z8" [dataSource]="listOrders | orderSearch:searchQuery" matSort>

	
		<ng-container matColumnDef="Id">
		  <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Id</th>
		  <td mat-cell class="mat-cell" *matCellDef="let order">
			<a class="text-primary" href="/" [title]="order?._id">#{{order?._id.substring(0,8)}}...</a>
		  </td>
		</ng-container>

		<ng-container matColumnDef="Customer">
		  <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Customer</th>
		  <td mat-cell class="mat-cell" *matCellDef="let order">{{ order.userId.name | titlecase }}</td>
		</ng-container>
	
		<ng-container matColumnDef="Amount">
		  <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Amount</th>
		  <td mat-cell class="mat-cell" *matCellDef="let order">{{order?.totalAmount | number:'1.2-2'}} TND</td>
		</ng-container>
	
		<ng-container matColumnDef="CreatedAt">
		  <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Created at</th>
		  <td mat-cell class="mat-cell" *matCellDef="let order">{{order?.createdAt | date}}</td>
		</ng-container>
	
		<ng-container matColumnDef="Status">
		  <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Status</th>
		  <td mat-cell class="mat-cell" *matCellDef="let order">
			<div [ngClass]="{
				'bg-blue-500 text-blue-500': order?.status === 'DELIVERED',
				'bg-red-500 text-red-500': order?.status === 'CANCELED',
				'bg-yellow-500 text-yellow-900': order?.status === 'PENDING',
				'bg-primary text-primary': order?.status === 'initialized'
				}" 
				class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
			>
				{{ order?.status | titlecase }}
			</div>
		  </td>
		</ng-container>
	
		<ng-container matColumnDef="actions">
		  <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Actions</th>
		  <td mat-cell class="mat-cell center-cell" *matCellDef="let order">
			<div class="center-content">
			  <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			  </button>
			  <mat-menu #menu="matMenu" xposition="before">
				<button mat-menu-item [routerLink]="['order',order?._id]">
					<mat-icon>dialpad</mat-icon>
					<span>Details</span>
				</button>
				<button mat-menu-item (click)="deleteOrder(order?._id)">
					<mat-icon>delete</mat-icon>
					<span>Delete</span>
				</button>
			</mat-menu>
			</div>
		  </td>
		</ng-container>
	
		<tr mat-header-row  *matHeaderRowDef="['Id','Customer', 'Amount', 'CreatedAt', 'Status','actions']"></tr>
		<tr mat-row *matRowDef="let row; columns: ['Id','Customer', 'Amount', 'CreatedAt', 'Status', 'actions']"></tr>
		
	  </table>
		<mat-paginator
		style="margin-bottom: 2rem;"
		[length]="listOrders?.data.length"
		[pageSize]="itemsPerPage"
		[pageSizeOptions]="[10, 25, 100]"
		(page)="onPageChange($event)">
	  </mat-paginator>
	</div>
	
  </div>