.custom-search-input {
    display: flex;
    align-items: center;
  }
  
  .custom-search-input input {
    padding: 8px;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    flex: 1;
   
  }
  
  .custom-search-input button {
    margin-left: 8px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .text_green{
    color: green;
  }

  .red-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-right: 5px ;
    margin-left: 5px;
  }
  
  .green-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px ;
    margin-left: 5px;
  }
  
  .user{
    font-weight: 700;
  }
  .user:hover{
    color: var(--bs-blue);
    cursor: pointer;
  }