<div>
  <input
  placeholder=" "
  class="did-floating-input"
  #chipInput
  [formControl]="chipCtrl"
  [matAutocomplete]="auto"
  [matChipInputFor]="chipList"
  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  (matChipInputTokenEnd)="add($event)"
/>
<label for="" class="did-floating-label">
  {{ label }}
</label>
</div>
<div>
    <mat-chip-list #chipList aria-label="chip selection">
      <mat-chip
        *ngFor="let chip of chips"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(chip)">
        {{chip}}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let chip of filteredchips | async" [value]="chip">
        {{chip}}
      </mat-option>
    </mat-autocomplete>
  </div>
  