.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.text-mute {
  color: rgba(0, 0, 0, 0.5); /* set the text color to a semi-transparent black */
}
