.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    height: 100%;
}

.card{
    margin: 0;
    height: 100%;
    width: 100%;
}

.mat-dialog-container{
    padding: 0;
}