<mat-sidenav class="sidebar" mode="side" opened>
  <div class="brand">
    <h1>Eshop</h1>
  </div>
  <mat-nav-list>
    <a routerLink="dashboard" class="link">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    <mat-divider></mat-divider>
    <h3 class="section-title">Tables</h3>
    <a routerLink="users" class="link">
        <mat-icon>people</mat-icon>
        Users
      </a>
      <a routerLink="products" class="link">
        <mat-icon>store</mat-icon>
        Products
      </a>
      <a routerLink="orders" class="link">
        <mat-icon>shopping_cart</mat-icon>
        Orders
      </a>
  </mat-nav-list>
</mat-sidenav>
