    <mat-sidenav class="sidebar"  opened>
      <div class="brand">
        <h1>Clothify</h1>
      </div>
      <mat-nav-list>
        <a routerLink="/dashboard" class="link">
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </a>
        <mat-divider></mat-divider>
        <h3 class="section-title">Tables</h3>
        <a routerLink="/admin/users" class="link">
            <mat-icon>people</mat-icon>
            Users
          </a>
          <a routerLink="admin/products" class="link">
            <mat-icon>store</mat-icon>
            Products
          </a>
          <a routerLink="/admin/orders" class="link">
            <mat-icon>shopping_cart</mat-icon>
            Orders
          </a>
      </mat-nav-list>
    </mat-sidenav>
  