.sidebar {
  width: 20%;
  height: 100%;
  background-color: var(#636f83,#212333);
  background-image: linear-gradient(45deg,var(--cui-dark-start,#3c4b64) 0%,var(--cui-dark-stop,#212333 100%));
  color: white;

}
  .brand {
    padding: 20px;
  }
  
  .brand h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .section-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  
  .link {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
  }
  
  .link:hover {
    background-color: #1f1f1f;
    color: #fff;
  }
  
  .link mat-icon {
    margin-right: 8px;
  }
  