<div class="d-flex justify-content-start">
  <h2 color="primary"  style="margin-right: 3rem;">
    Users
  </h2>
</div>
<div class="custom-search-input">
  <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search by name or email">
</div>
<div class="table-inside">
  <div class="container" id="list">
    <table mat-table class="mat-elevation-z8" [dataSource]="listUsers | userSearch:searchQuery" matSort>
      <ng-container matColumnDef="image">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef >Image</th>
        <div *matCellDef="let user">
          <span  [ngClass]="{'red-dot': user.blocked, 'green-dot': !user.blocked}" [title]="user.blocked? 'User is blocked':'User is not blocked'">
          </span>
          <img src="../../../../assets/images/user-128x128.jpg"  class="image" alt="user">
        </div>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Name</th>
        <td mat-cell class="mat-cell" *matCellDef="let user">{{ user.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Email</th>
        <td mat-cell class="mat-cell" *matCellDef="let user">{{ user.email }}</td>
      </ng-container>
  
      <ng-container matColumnDef="gender">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Gender</th>
        <td mat-cell class="mat-cell" *matCellDef="let user">{{user?.gender ? user?.gender : '-'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="occupation">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Occupation</th>
        <td mat-cell class="mat-cell" *matCellDef="let user">{{user?.occupation ? user?.occupation : '-'}}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Phone number</th>
        <td mat-cell class="mat-cell" *matCellDef="let user">{{user?.number ? user?.number : '-'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Actions</th>
        <td mat-cell class="mat-cell center-cell" *matCellDef="let user">
          <div class="center-content">
            <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xposition="before">
              <button mat-menu-item [routerLink]="['/admin/users/user/',user._id]">
                <mat-icon>dialpad</mat-icon>
                <span>Details</span>
              </button>
              <button *ngIf="!user.blocked" mat-menu-item (click)="confirmBlockUser(user._id)" >
                <mat-icon   class="text-accent">block</mat-icon>
                
                <span  class="text-accent">Block</span>
              </button>
              <button *ngIf="user.blocked" mat-menu-item (click)="confirmUnBlockUser(user._id)">
                <mat-icon class="text_green">block</mat-icon>
                
                <span class="text_green">Unblock</span>
              </button>
              <button mat-menu-item (click)="deleteUser(user._id)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row  *matHeaderRowDef="['image','name', 'email', 'gender', 'occupation','phoneNumber','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['image','name', 'email', 'gender', 'occupation','phoneNumber', 'actions']"></tr>
      
    </table>
      <mat-paginator
      style="margin-bottom: 2rem;"
      [length]="listUsers?.data.length"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="[10, 25, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  
</div>