.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.ll-product__like-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 42px;
    height: 42px;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.ll-product__like-button:hover,
.ll-product__like-button:hover mat-icon  {
    color: red !important;
    transform: scale(1.2);
    transition: transform ease-in-out .05s;
}

.ll-product__like-button:not(:hover) {
    color: red;
    transform: scale(1);
    transition: transform ease-in-out .05s;
}
