    
      <mat-sidenav-content class="marginheader">
        
        
        <div>
          <div class="container">
            <div class="grid grid-cols-12 gap-8">
              <div class="col-span-3 hidden xl:block">
                <div class="py-5 min-h-screen">
                  <div class="rounded-md border overflow-hidden h-full">
                    <div class="user text-center bg-primary py-10 px-5">
                      <img class="ml-auto mr-auto" src="assets/images/avatar.png" alt="abraham lincoln" style="border-radius: 100%;"/>
                      <h4 class="text-white mt-3">{{user.name}}</h4>
                    </div>
                    <mat-nav-list class="_sidenav">
                      <a
                        mat-list-item
                        routerLink="/espace"
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="bg-gray-200"
                        class="font-semibold text-gray-500 hover:text-primary"
                        ><mat-icon class="mr-2">dashboard</mat-icon> Dashboard</a
                      >
                      <a
                        mat-list-item
                        routerLink="/espace/profile"
                        routerLinkActive="bg-gray-200"
                        class="font-semibold text-gray-500 hover:text-primary"
                        ><mat-icon class="mr-2">account_circle</mat-icon> View my profile</a
                      >
                      <a
                        mat-list-item
                        routerLink="/espace/saved-items"
                        routerLinkActive="bg-gray-200"
                        class="font-semibold text-gray-500 hover:text-primary"
                        ><mat-icon class="mr-2">list</mat-icon> Saved Items</a
                      >
                      <a
                        mat-list-item
                        routerLink="/espace/orders"
                        routerLinkActive="bg-gray-200"
                        class="font-semibold text-gray-500 hover:text-primary"
                        ><mat-icon class="mr-2">article</mat-icon> Orders</a
                      >
                    </mat-nav-list>
                  </div>
                </div>
              </div>
              <div class="col-span-12 xl:col-span-9 py-10">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>