<div class="backtoList">
	<h5 routerLink="/admin/users"> < Back To List</h5>
</div>
<div class="border bg-white mt-8 rounded-md contact-info d-flex">
  <div class="col-md-3 imageprofil" >

    <img src="../../../../assets/images/user-128x128.jpg" alt="test" height="180px" width="180px"  >
  </div>

  <div class="flex flex-wrap p-4 col-md-12" >
    <div class=" sm:w-1/2">
      <div class="ll-dataset">
        <div class="ll-dataset__label">
          Name:
        </div>
        <div class="ll-dataset__value" >
          {{user?.name}}
        </div>
                 
                  
      </div>
            
      <div class="ll-dataset mt-4">
        <div class="ll-dataset__label">
          Email:
        </div>
        <div class="ll-dataset__value" >
          {{user?.email}}
        </div>
                
      </div>
      <div class="ll-dataset mt-4">
        <div class="ll-dataset__label">
          Contact Number:
        </div>
        <div class="ll-dataset__value" *ngIf="user?.number  ">
          {{user?.number}}
        </div>
                  <div class="ll-dataset__value" *ngIf="!user?.number ">
          -
        </div>
                 
      </div>
             
    </div>
    
  </div>
      
</div>
<div>
  <hr class="mt-5 mb-5 w-80 mx-auto">
	<h5 class="mb-3 font-medium px-5 pt-2">Orders</h5>
	<div class="table-inside px-5">
		<table class="order-table table-auto ltMd:responsive" *ngIf="orders.length>0">
			<thead>
				<tr class="border text-left">
					<th>
						<span class="text-gray-800">Id</span>
					</th>
					<th>
						<span class="text-gray-800">Name</span>
					</th>
					<th>
						<span class="text-gray-800">Price</span>
					</th>
	
					<th>
						<span class="text-gray-800">Created</span>
					</th>
	
					<th>
						<span class="text-gray-800">Status</span>
					</th>
					<th class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of orders" class="border">
					<td>
						<a class="text-primary" routerLink="admin/orders">#{{order?._id.slice(-4)}}</a>
					</td>
					<td>
						{{order?.shippingInfo | titlecase }}
					</td>
					<td>
						<span>${{order?.totalAmount | number:'1.2-2'}}</span>
					</td>
					<td>
						<span>{{order?.createdAt | date}}</span>
					</td>
					<td>
						<div [ngClass]="{
							'bg-blue-500 text-blue-500': order?.status === 'DELIVERED',
							'bg-red-500 text-red-500': order?.status === 'CANCELED',
							'bg-yellow-500 text-yellow-900': order?.status === 'PENDING',
							'bg-primary text-primary': order?.status === 'initialized'
							}" 
							class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
						>
							{{ order?.status | titlecase }}
						</div>
					</td>
					<td class="text-right">
						<button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before">
							<button mat-menu-item>
								<mat-icon>dialpad</mat-icon>
								<span>Details</span>
							</button>
							<button mat-menu-item>
								<mat-icon>delete</mat-icon>
								<span>Delete</span>
							</button>
						</mat-menu>
					</td>
				</tr>
			</tbody>
		
		</table>
		<div *ngIf="orders.length ==0" class="w-100 text-center mb-5">
			<h2>No Orders For this User...</h2>
		  </div>
	</div>
</div>
